API_PORT=5080

POSTGRES_DB=ReCafeDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456

JWT_KEY=hisIsASecretKeyForJWTR_Cafe_Backend_2026_SecureKey
JWT_ISSUER=ReCafeBackend
JWT_AUDIENCE=ReCafeUsers
JWT_DURATION_MINUTES=60
