API_PORT=5080
ASPNETCORE_ENVIRONMENT=Production
ENABLE_SWAGGER=true

POSTGRES_DB=ReCafeDb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

APPLY_MIGRATIONS_ON_STARTUP=true
MIGRATION_RETRY_COUNT=10
MIGRATION_RETRY_DELAY_SECONDS=6
FAIL_STARTUP_ON_MIGRATION_ERROR=false

JWT_KEY=ThisIsASecretKeyForJWTR_Cafe_Backend_2026_SecureKey
JWT_ISSUER=ReCafeBackend
JWT_AUDIENCE=ReCafeUsers
JWT_DURATION_MINUTES=60

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
